body {
    background-color: rgb(252,251,227);
}
.container {
    background-color: rgb(252,251,227);
}
.container h1 {
    color: #515151; 
    font-weight: bold; 
    font-size: 50px;
}

.panel-info { 
    border-style: solid; 
    border-width:3px; 
    border-color:grey
}

.panel-heading {
    background-color: #FDB831; 
    color:#000000; 
    font-weight:bold;
}
// Classes
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
    visibility: hidden;
}
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    height: 200px;
    padding-top: 50px;
    
}
.footerstyle {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
/*
.project-image {
  border-radius: 6px;
  cursor: pointer;
  height: 175px;
  line-height: 95px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  width: 240px;
}
.project-image:hover {
  border-radius: 50%;
}
*/

/*
.slideheader {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 75px; 
    border: 1px solid black;
}

#slide {
    position: absolute;
    left: 100px;
    width: 200px;
    height: 75px;
    background: white;
    transition: 1s;
}

.slideheader:hover #slide {
    transition: 1s;
    left: 0;
}
*/
/* entire container, keeps perspective */















